<md-content ng-controller="detailController">
    <md-toolbar layout="row" lay-align="center center">
        <a flex href="javascript:void(0)" ng-click="goBack()"><i class="mdi-navigation-arrow-back small"></i></a>
        <h3 flex></h3>
        <span flex></span>
    </md-toolbar>
    <tube-preloader ng-show="detail.isBusy"></tube-preloader>

    <md-content class="container" layout="row" layout-align="center center" infinite-scroll="detail.list()" infinite-scroll-disabled="detail.isBusy" infinite-scroll-distance="1">
        <md-list flex="90">
            <md-list-item ng-click="playVideo(item)" ng-repeat="item in detail.items">
                <img src="{{item.snippet.thumbnails.default.url}}" alt="" class="md-avatar" />
                <div class="md-list-item-text" ng-click="goDetail(item)">
                    <h3 class="title">
                        {{item.snippet.title}}
                    </h3>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</md-content>
