<md-content layout="row" layout-align="center center" ng-controller="localController">
  <div flex="80">
    <div>
      <a href="javascript:void(0)" ng-click="deleteItems()">Delete</a>
    </div>
    <md-list>
      <md-list-item ng-repeat="item in items">
        <div ng-click="goDetail(item)">
          <img src="{{item.snippet.thumbnails.default.url}}" alt="" class="md-avatar" />
          <span class="title">
                    {{item.snippet.title}}
          </span>
        </div>
        <div>
          <a href="javascript:void(0)" class="" ng-click=""><md-icon></md-icon></a>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>
