<md-content layout="row" layout-align="center center" ng-controller="localController">
  <div flex="90" height-auto-resizer>
    <div>
      <a href="javascript:void(0)" ng-click="deleteItems()">Delete</a>
    </div>
    <md-list>
      <md-list-item class="md-2-line" ng-repeat="item in items">
        <img src="{{item.snippet.thumbnails.default.url}}" alt="" class="md-avatar" />
        <div class="md-list-item-text" ng-click="goDetail(item)">
          <h3>
            {{item.snippet.title}}
          </h3>
        </div>
        <div>
          <a href="javascript:void(0)" class="" ng-click="">
            <md-icon md-font-set="fa fa-trash-o"></md-icon>
          </a>
        </div>
      </md-list-item>
    </md-list>
  </div>
</md-content>
