<md-content layout="row" layout-align="center center" ng-controller="myYoutubeController">
  <div class="h100" flex="90" >
    <md-list ng-show="items.length !== 0">
      <md-list-item ng-repeat="item in items">
        <div class="col s2" ng-click="gotoDetail(item)">
          <img src="{{item.snippet.thumbnails.default.url}}" alt="" class="md-avatar" />
          <span class="">
              {{item.snippet.title}}
          </span>
          <div>
            <a href="javascript:void(0)" class="secondary-content" ng-click="addItem(item)">
              <md-icon></md-icon>
            </a>
          </div>
        </div>
      </md-list-item>
    </md-list>
    <div layout="row" layout-align="center center" ng-show="items.length === 0">
      <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
    </div>

  </div>

</md-content>
