<md-content layout="row" layout-align="center center" ng-controller="myYoutubeController">
  <div  flex="90" height-auto-resizer>
    <md-list ng-show="items.length !== 0">
      <md-list-item class="md-2-line" ng-repeat="item in items">
        <img src="{{item.snippet.thumbnails.default.url}}" alt="" class="md-avatar" />
        <div class="md-list-item-text" ng-click="gotoDetail(item)">
          <h3 class="">
              {{item.snippet.title}}
          </h3>
        </div>
        <div>
          <a href="javascript:void(0)" class="secondary-content" ng-click="addItem(item)">
            <md-icon>playlist_add</md-icon>
          </a>
        </div>
      </md-list-item>
    </md-list>
    <div layout="row" layout-align="center center" ng-show="items.length === 0">
      <md-button class="md-raised md-primary" ng-click="login()">Login</md-button>
    </div>

  </div>

</md-content>
